<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.testConnectionString"
            connectionString="server=localhost;user id=root;password=ichbinZelter;database=test"
            providerName="MySql.Data.MySqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.Kalkul_kaloriyConnectionString"
            connectionString="Data Source=(localdb)\v11.0;Initial Catalog=Kalkul_kaloriy;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.KaloriyConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Kaloriy;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.Database11ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database11.accdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApplication1.Properties.Settings.Database111ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database111.accdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApplication1.Properties.Settings.DatabaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database.accdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApplication1.Properties.Settings.DatabaseConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Database.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>